---
import Layout from '../layouts/Layout.astro';
import Photo from '../components/Photo.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Liga de Escritores 2024 - Las mejores voces de Canarias"
 description="Descubre a los mejores artistas de las Islas Canarias. ¡Descubre más sobre tus artistas favoritos">

<Photo />	
 
 <main>
	
	</main>

	<Footer />
</Layout>

